.footer-container {
  display: flex;
  max-height: 3em;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  background-color: black;
  -webkit-box-shadow: 0px -5px 8px 0px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 0px -5px 8px 0px rgba(0, 0, 0, 0.31);
  box-shadow: 0px -5px 8px 0px rgba(0, 0, 0, 0.31);
}
.logo-container {
  height: 100%;
  margin-right: 5%;
}
.brand-logo {
  height: 100%;
}
